/* Import the fonts */

@font-face {
  font-family: 'Equinox';
  src: url('../fonts/Equinox-Regular.otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Equinox';
  src: url('../fonts/Equinox-Bold.otf');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Gravitica';
  src: url('../fonts/ckhans-fonts-gravitica-light-demo.otf');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'UltimaPro';
  src: url('../fonts/UltimaPro.otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'UltimaPro';
  src: url('../fonts/UltimaPro-Bold_0.otf');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'UltimaPro';
  src: url('../fonts/UltimaPro-Italic.otf');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'UltimaPro';
  src: url('../fonts/UltimaPro-BoldItalic.otf');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'UltimaPro';
  src: url('../fonts/UltimaProLt.otf');
  font-weight: 300; /* light */
  font-style: normal;
}

@font-face {
  font-family: 'UltimaPro';
  src: url('../fonts/UltimaProLt-Italic.otf');
  font-weight: 300; /* light */
  font-style: italic;
}

/* Style for the "hero-section" and navbar and logo same as in index.html*/

header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: black;
  z-index: 12; 
}

/* This styles the nav element, which is nested inside the header. It sets the display to flex, which allows for the flexible layout. The items inside the nav (i.e., the logo and the ul) are spaced out evenly across the horizontal axis by 'justify-content: space-between'. Padding of 20px is added to all sides of the nav. The background color is set to black. */
nav {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color: black;
  z-index: 12;
  box-sizing: border-box; 
}

/* This styles the ul element inside the nav. The bullets for the list items are removed by 'list-style-type: none', and the list items are displayed in a row instead of a column by 'display: flex'. */
nav ul {
  list-style-type: none;
  display: flex;
}

nav ul li {
  margin-left: 10px;
  padding-top: 10px;
  padding-right: 10px;
  font-family: 'UltimaPro', sans-serif;
  font-weight: 300;
}


/* This styles each list item (li) inside the ul. It adds a left margin of 20px to space out the list items. */
nav ul li a {
  text-decoration: none;
  color: white;
}



/* This styles the element with the id 'logo'. It sets the font size to 20px, makes the text bold by 'font-weight: bold', and sets the color of the text to white. */
#logo {
  font-size: 30px;
  font-weight: bold;
  color: #fff;
  font-family: 'Equinox', sans-serif;
  padding-top: 10px;
  padding-left: 20px;
  text-decoration: none;
}

#logo a {
  font-size: 30px;
  font-weight: bold;
  color: #fff;
  font-family: 'Equinox', sans-serif;
  padding-top: 10px;
  padding-left: 20px;
  text-decoration: none;
}

/* Style for the intro-section-app with an image that displayed in full width and height */

.intro-section-app {
  height: 100vh; 
  display: flex; 
  align-items: center; 
  background: linear-gradient(to right, rgba(0,0,0,1) 50%, rgba(0,0,0,0.5) 100%);
  position: relative;
  z-index: 11; 

}




/* Style for hero-image-app leaving some margin on top to compensate the navbar */

.hero-image-app {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  z-index: -1;

}

/* Style for intro-text-app */

.intro-text-app {
  position: relative;
  color: white;
  z-index: 12 ;
  backdrop-filter: blur (50px) brightness(50%);
  background-color: rgba(0, 0, 0, 0.4);
  padding: 30px;
  border-radius: 25px;
  max-width: 700px;

}


/* Style for intro-heading-app */

.intro-heading-app {
  margin-left: 80px; /* Adjust this value to position the text within the section */
  color: white; /* Adjust this as needed */
  font-family: 'UltimaPro', sans-serif;
  font-weight: bold;
  line-height: 1.2;
  padding-top: 15px;
  font-size: 40px;
  
  

}


/* Style for intro-paragraph-app */

.intro-paragraph-app {
  font-weight: light;
  color:#fff;
  margin-left: 80px; /* Adjust this value to position the text within the section */
  font-family: 'UltimaPro', sans-serif;
  font-weight: 300;
  max-width: 50em; /* Adjust this value to your liking */
  line-height: 2;  
  margin-top: 20px; 
}

.intro-heading,
.intro-paragraph,
.intro-button {
  position: relative;
  z-index: 12;
}

/* Style for intro-button */

.intro-button {
  border: 0.5px solid #E80100; /* This sets the color of the thin line around the button */
  color: #fff; /* This sets the color of the text */
  background-color: transparent; /* This makes the button transparent */
  padding: 10px 20px; /* This sets the size of the button, adjust as needed */
  font-size: 16px; /* This sets the size of the text, adjust as needed */
  cursor: pointer; /* This changes the cursor to a hand when hovering over the button */
  text-decoration: none; /* This removes any default underline on the text */
  transition: background 0.3s ease; /* This makes the color change smoothly when the button is hovered over */
  margin-left: 80px;
  font-family: 'Equinox', sans-serif;
  border-radius: 20px;
  margin-top: 20px;
}



/* Style for "card" section */



:root{
  --background-dark: #2d3548;
  --text-light: rgba(255,255,255,0.6);
  --text-lighter: rgba(255,255,255,0.9);
  --spacing-s: 8px;
  --spacing-m: 16px;
  --spacing-l: 24px;
  --spacing-xl: 32px;
  --spacing-xxl: 64px;
  --width-container: 1200px;
}

*{
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  height: 100%;
  font-family: 'UltimaPro', sans-serif;
  font-size: 14px;
}

body{
  height: 100%;
}

.card-section{
  align-items: flex-start;
  background-color: black;
  display: flex;
  min-height: auto;
  justify-content: center;
  padding: var(--spacing-xxl) var(--spacing-l);
  width: 100%;
  flex-direction: column;
  align-items: center;
  position: relative;



}

.intro-apps-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px 0;
  color: #fff;
  font-family: 'UltimaPro', sans-serif;
  text-align: center;
  z-index: 10;
  width: 100%;
}

.intro-heading-apps {
  margin-left: 80px; 
  color: white; 
  font-family: 'UltimaPro', sans-serif;
  font-weight: bold;
  line-height: 1.2;
  padding-top: 15px;
  font-size: 40px;
  
}

.intro-paragraph-apps {
  font-weight: light;
  color:#fff;
  font-family: 'UltimaPro', sans-serif;
  font-weight: 300;
  line-height: 2;  
  margin-top: 20px; 
  margin-bottom: 30px;
  padding-bottom: 0px;
}



.card-grid{
  display: grid;
  margin-top: 0px;
  grid-template-columns: repeat(1, 1fr);
  grid-column-gap: var(--spacing-l);
  grid-row-gap: var(--spacing-l);
  max-width: var(--width-container);
  width: 100%;
  padding-top: 0px;
}

@media(min-width: 540px){
  .card-grid{
    grid-template-columns: repeat(2, 1fr); 
  }
}

@media(min-width: 960px){
  .card-grid{
    grid-template-columns: repeat(4, 1fr); 
  }
}

.card{
  list-style: none;
  position: relative;
  margin: 25px;
  
  transform: translateZ(0);
}


.card:before{
  content: '';
  display: block;
  padding-bottom: 150%;
  width: 100%;
}

.card__background{
  background-size: cover;
  background-position: center;
  border-radius: var(--spacing-l);
  bottom: 0;
  filter: brightness(0.75) saturate(1.2) contrast(0.85);
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transform-origin: center;
  transform: scale(1) translateZ(0);
  transition: 
    filter 200ms linear,
    transform 200ms linear;
  
}

.card:hover .card__background{
  background-size: cover;
  background-position: center;
  transform: scale(1.05) translateZ(0);
}



.card-grid:hover > .card:not(:hover) .card__background { 
  filter: brightness(0.5) saturate(0) contrast(1.2) blur(20px);
}

.card-grid:hover > .card:not(:hover) .card-paragraph {
  filter: brightness(0.5) saturate(0) contrast(1.2) blur(20px);
}

.card-grid:hover > .card:not(:hover) .card-heading {
  filter: brightness(0.5) saturate(0) contrast(1.2) blur(20px);
}

.card-grid:hover > .card:not(:hover) .card-button {
  filter: brightness(0.5) saturate(0) contrast(1.2) blur(20px);
}

.card-grid:hover > .card:not(:hover) .card__category {
  filter: brightness(0.5) saturate(0) contrast(1.2) blur(20px);
}

.card__content {
  left: 0;
  padding: var(--spacing-l);
  position: absolute;
  top: 0;
  pointer-events: none; /* Add this line */
}

.card__category{
  color: var(--text-light);
  font-size: 0.9rem;
  margin-bottom: var(--spacing-s);
  text-transform: uppercase;
}

.card__heading{
  color: var(--text-lighter);
  font-size: 1.9rem;
  text-shadow: 2px 2px 20px rgba(0,0,0,0.2);
  line-height: 1.4;
  word-spacing: 100vw;
  color: #fff;
}


.card-button {
  border: 0.5px solid #E80100; /* This sets the color of the thin line around the button */
  color: #fff; /* This sets the color of the text */
  background-color: transparent; /* This makes the button transparent */
  padding: 5px 10px; /* This sets the size of the button, adjust as needed */
  font-size: 14px; /* This sets the size of the text, adjust as needed */
  cursor: pointer; /* This changes the cursor to a hand when hovering over the button */
  text-decoration: none; /* This removes any default underline on the text */
  transition: background 0.3s ease; /* This makes the color change smoothly when the button is hovered over */
  margin-left: auto;
  font-family: 'Equinox', sans-serif;
  border-radius: 20px;
  margin-top: 50px;
  position: relative;
  pointer-events: auto;
  
}

.card-heading {
  margin-top: 20px;
  margin-bottom: 20px;
  color: #fff;
}

.card-paragraph {
  color: #fff;
  font-weight: 300;
  font-family: 'UltimaPro', sans-serif;
  font-size: 14px;
  line-height: 1.5;
  margin-bottom: 20px;
}




/* Style for the footer */

/* The CSS for the footer. It sets the background color to black, the text color to white, and the padding to 20px on all sides. */

.footer{
  background:#000;
  padding:30px 0px;
  font-family: 'UltimaPro', sans-serif;
  text-align:center;
  }
  
  .footer .row{
  width:100%;
  margin:1% 0%;
  padding:0.6% 0%;
  color:gray;
  font-size:0.8em;
  }
  
  .footer .row a{
  text-decoration:none;
  color:gray;
  transition:0.5s;
  }
  
  .footer .row a:hover{
  color:#007fed;
  }
  
  .footer .row ul{
  width:100%;
  }
  
  .footer .row ul li{
  display:inline-block;
  margin:0px 30px;
  }
  
  .footer .row a i{
  font-size:2em;
  margin:0% 1%;
  }
  
  @media (max-width:720px){
  .footer{
  text-align:left;
  padding:5%;
  }
  .footer .row ul li{
  display:block;
  margin:10px 0px;
  text-align:left;
  }
  .footer .row a i{
  margin:0% 3%;
  }
  }
