/* Site Periospot AI
   1. Root Variables
   2. Global Styles
   3. Typography Styles
   4. Structure Styles
   5. Module Styles
   6. Component Styles
   7. Page Styles
====================================== */

/* Root Variables
====================================== */
:root {
  /* Color Variables */
  --soft-grey: #ECECEC;
  --vivid-yellow: #F1AC3C;
  --vivid-red: #E01D1F;
  --vivid-blue: #086CC1;
  --black: #000000;
  --white: #FFFFFF;
  --dark-blue: #0E1E1E;
  --extra-dark-grey: #B8B2B2;
  --card-featured-grey: #D9D9D9;

  /* Font Size Variables */
  --font-size-h1: 3rem;
  --font-size-h2: 2rem;
  --font-size-h3: 1.6rem;
  --font-size-h4: 1.2rem;
  --font-size-paragraph: 1rem;
  --font-size-paragraph-light: 0.8rem;
  --font-size-nav-hover: 1.625rem;

  /* Font Family Variables */
  --font-family-primary: 'Darker Grotesque', sans-serif;

    /* Font-Weights */
    --font-weight-light: 300;
    --font-weight-regular: 400;
    --font-weight-medium: 500;
    --font-weight-semibold: 600;
    --font-weight-bold: 700;
    --font-weight-extrabold: 800;
    --font-weight-dark: 900;

 }


/* Global Styles
====================================== */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  width: 100%;
  overflow-x: hidden;
  text-size-adjust: 100%;
}

body {
  margin: 0 auto;
  overflow-x: hidden;
  width: 100%;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  font-family: var(--font-family-primary);
  color: var(--black);
  background-color: var(--soft-grey);
}

/* Typography Styles
====================================== */
h1 {
  font-size: var(--font-size-h1);
  font-weight: 700; 
}

h2 {
  font-size: var(--font-size-h2);
  font-weight: 600; 
}

h3 {
  font-size: var(--font-size-h3);
  font-weight: 500; 
}

h4 {
  font-size: var(--font-size-h4);
  font-weight: 400; 
}

p {
  font-size: var(--font-size-paragraph);
  font-weight: 400; 
}

li {
  font-size: var(--font-size-h3);
  font-weight: var( --font-weight-bold); 
}






/* Component Styles - Example with Buttons
====================================== */
.button {
  display: flex;
  width: 50%;
  height: 80px;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  background: var(--vivid-blue);
  color: var(--white);
  font-size: var(--font-size-h2);
  margin-top: 20px;
  border-style: none;
  

}



.button:hover {
  background-color: var(--vivid-yellow);
  color: var(--black);
}


/* Logo animation styles */

.logo-image {
  width: 80px; 
  height: 80px; 
  background-image: url('../images/home_images/Logo_inactive.png');
  background-size: cover;
}

.logo-image:hover {
  background-image: url('../images/home_images/Logo_hover.png');
}

.logo-image-footer {
  width: 80px; 
  height: 80px; 
  background-image: url('../images/home_images/Logo_inactive.png');
  background-size: cover;
}

.logo-image-footer:hover {
  background-image: url('../images/home_images/Logo_Hover_footer.png');
}

/* Nav Styles */

.main-navigation {
  display: flex;
  width: auto;
  height: auto;
  padding: 0px 122px;
  flex-direction: row;
  align-items: flex-end;
  gap: 10px;
  margin-top: 55px;
}

.navigation-list {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  gap: 21px;
  flex: 1 0 0;
}

.navigation-list li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.navigation-list li:hover {
  color: var(--vivid-blue);
  text-decoration: underline;
  font-weight: var(--font-weight-bold);
}



/* Page Specific Styles - 
====================================== */

/* Home Page Styles */

/* Hero Section */

.line-break {
  display: flex;
  width: auto;
  height: 1px;
  background-color: var(--vivid-blue);
  margin: 10px 122px;
  
}

.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  width: 100%;
}

.intro-text {
  position: absolute;
  left: 11px;
  top: 237px;
  max-width: 500px;
  margin-left: 122px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;


}

.intro-text h1 {
  font-size: 3rem;
  font-weight: 700;
  color: var(--vivid-blue);
}

.intro-text h3 {
  font-size: 1.6rem;
  font-weight: 500;
  color: var(--black);
}

/* Cards Section */
.featured-content-cards-section {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 100px;
  height: 700px;
  padding: 0px 122px;

}

.featured-content-cards-headline {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

.featured-content-cards-headline h2 {
  font-size: 2rem;
  font-weight: 700;
  color: var(--vivid-blue);
}

.featured-content-cards-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;


}

.featured-content-cards-container img {
  width: 100%;
  height: 100%;
  border-radius: 12px;
  object-fit: cover;
  object-position: center;
  margin: 0px 0px 20px 0px;
}

.content-card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: left;
  gap: 20px;
  width: 30%;
  height: 300px;
  border-radius: 12px;
  background: var(--white);
  color: var(--white);
}

.content-card:hover {
  color: var(--black);
}

#card-1 {
  background-color: var(--vivid-yellow);
}

#card-2 {
  background-color: var(--vivid-red);
}

#card-3 {
  background-color: var(--vivid-blue);
}

#card-1:hover, #card-2:hover, #card-3:hover {
  background-color: var(--extra-dark-grey);
}

.content-card img {
  width: 100%;
  height: 100%;
  border-radius: 12px;
  object-fit: cover;
  object-position: center;
}

.hashtags {
  display: flex;
  width: 106px;
  padding: 10px;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  font-size: var(--font-size-paragraph);
  border-radius: 25px;
  margin: 20px 0px 0px 20px;
  background-color: var(--white);
  color: var(--black);
  
}

#card-1:hover #hashtag-1 {
  background-color: var(--vivid-yellow);
  color: var(--white);
}

#card-2:hover #hashtag-2 {
  background-color: var(--vivid-red);
  color: var(--white);
}

#card-3:hover #hashtag-3 {
  background-color: var(--vivid-blue);
  color: var(--white);
}

.card-text {
  width: 100%;
  padding: 0px 20px;
}

.newsletter-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content:space-around;
  gap: 190px;
  width: 100%;
  height: auto;
  background-color: var(--extra-dark-grey);
  padding: 30px 122px;
}

.subscribe-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  width: 50%;
}

.subscriber-cta {
  display: flex;
  flex-direction: column;
  width: 50%;
  justify-content: flex-start;
  height: 125px;
  
}

.subscriber-cta input {
  padding: 0px 10px;
  background-color: #ffffff;
  border-radius: 15px;
  overflow: hidden;
  border: 3px solid;
  border-color: #086cc1;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  position: relative;
  flex: 1;
  align-self: stretch;
  width: 100%;
  flex-grow: 1;
  line-height: 3;
}

.subscriber-cta input::placeholder {
  color: #999;
  font-size: 1rem; 

}

.newsletter-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

.subscriber-cta button {
  display: flex;
  width: 100%;
  height: 80px;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  background: var(--vivid-blue);
  color: var(--white);
  font-size: var(--font-size-h2);
  margin-top: 10px;
  border-style: none;
  height: auto;
  font-size: var(--font-size-h2);
  padding: 10px 0px;

}

footer {
  top: -10px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  width: 100%;
  height: 300px;
  background-color: var(--vivid-blue);
  padding: 30px 122px;
  border-radius: 12px 12px 0px 0px;
}

.logo-and-periospot {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
  margin-top: 40px;
  color: var(--white);
}

.footer-links {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 10px;
  justify-content: space-between;
  margin-bottom: 50px;
}

/* Footer li styles, with main in h2 and sub in p size */

.footer-links li {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: var(--font-size-p);
  font-weight: var(--font-weight-regular);
  color: var(--white);
}

footer h3 {
  font-size: var(--font-size-h2);
  font-weight: 700;
  color: var(--soft-grey);
}

.footer-links a {
  color: var(--white);
  text-decoration: none;
}

.footer-links li:hover {
    font-size: var(--font-size-paragraph);
    text-decoration: underline;
    font-weight: var(--font-weight-extrabold);
}

/* Featured Content Section */

.cards-headline {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  width: 100%;
  height: auto;
}

.three-cards-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  gap: 50px;
  width: 100%;
  height: auto;

}

.cards-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  height: auto;
  padding: 0px 122px;
}

.card {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: left;
  width: 100%;
  height: 300px;
  border-radius: 12px;
}

.card-header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  height: 300px;
  border-radius: 12px 0 0 12px
}

.card-items {
  display: flex;
  flex-direction: row;
  align-items: space-between;
  justify-content: space-between;
  width: 100%;
  height: 300px;
  border-radius: 12px;
  
}

.card-item {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid var(--black);
  padding: 0px 24px;
  background-color: var(--card-featured-grey);
  align-items: center;
  gap: 30px;

}

#research-header {
  background-color: var(--vivid-yellow);
  border: none;
}

#ai-tech-header {
  background-color: var(--vivid-red);
  border: none;
}

#video-resources-header {
  background-color: var(--vivid-blue);
  border: none;
}

.card-number {
  font-size: var(--font-size-h2);
  font-weight: 700;
  color: var(--black);
  display: flex;
  justify-content: center;
  width: 50px;
  height: 50px;
  align-items: center;
  border-radius: 50px;
  background: #B8B2B2;
}

.card-text-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 10px;
  width: 100%;
  height: auto;
}