/* Site Periospot AI
   1. Root Variables
   2. Global Styles
   3. Typography Styles
   4. Structure Styles
   5. Module Styles
   6. Component Styles
   7. Page Styles
====================================== */

/* Root Variables
====================================== */
:root {
  /* Color Variables */
  --soft-grey: #ECECEC;
  --vivid-yellow: #F1AC3C;
  --vivid-red: #E01D1F;
  --vivid-blue: #086CC1;
  --black: #000000;
  --white: #FFFFFF;
  --dark-blue: #0E1E1E;
  --extra-dark-grey: #B8B2B2;
  --card-featured-grey: #D9D9D9;

  /* Font Size Variables */
  --font-size-h1: 3rem;
  --font-size-h2: 2rem;
  --font-size-h3: 1.6rem;
  --font-size-h4: 1.2rem;
  --font-size-paragraph: 1rem;
  --font-size-paragraph-light: 0.8rem;
  --font-size-nav-hover: 1.625rem;

  /* Font Family Variables */
  --font-family-primary: 'Darker Grotesque', sans-serif;

    /* Font-Weights */
    --font-weight-light: 300;
    --font-weight-regular: 400;
    --font-weight-medium: 500;
    --font-weight-semibold: 600;
    --font-weight-bold: 700;
    --font-weight-extrabold: 800;
    --font-weight-dark: 900;

 }


/* Global Styles
====================================== */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  width: 100%;
  overflow-x: hidden;
  text-size-adjust: 100%;
}

body {
  margin: 0 auto;
  overflow-x: hidden;
  width: 100%;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  font-family: var(--font-family-primary);
  color: var(--black);
  background-color: var(--soft-grey);
}

/* Typography Styles
====================================== */
h1 {
  font-size: var(--font-size-h1);
  font-weight: 700; 
}

h2 {
  font-size: var(--font-size-h2);
  font-weight: 600; 
}

h3 {
  font-size: var(--font-size-h3);
  font-weight: 500; 
}

h4 {
  font-size: var(--font-size-h4);
  font-weight: 400; 
}

p {
  font-size: var(--font-size-paragraph);
  font-weight: 400; 
}

li {
  font-size: var(--font-size-h3);
  font-weight: var( --font-weight-bold); 
}






/* Component Styles - Example with Buttons
====================================== */
.button {
  display: flex;
  width: 50%;
  height: 80px;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  background: var(--vivid-blue);
  color: var(--white);
  font-size: var(--font-size-h2);
  margin-top: 20px;
  border-style: none;
  

}



.button:hover {
  background-color: var(--vivid-yellow);
  color: var(--black);
}


/* Logo animation styles */

.logo-image {
  width: 80px; 
  height: 80px; 
  background-image: url('../images/home_images/Logo_inactive.png');
  background-size: cover;
}

.logo-image:hover {
  background-image: url('../images/home_images/Logo_hover.png');
}

.logo-image-footer {
  width: 80px; 
  height: 80px; 
  background-image: url('../images/home_images/Logo_inactive.png');
  background-size: cover;
}

.logo-image-footer:hover {
  background-image: url('../images/home_images/Logo_Hover_footer.png');
}

/* Nav Styles */

.main-navigation {
  display: flex;
  width: auto;
  height: auto;
  padding: 0px 122px;
  flex-direction: row;
  align-items: flex-end;
  gap: 10px;
  margin-top: 55px;
}

.navigation-list {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  gap: 21px;
  flex: 1 0 0;
}

.navigation-list a {
  font-size: var(--font-size-nav-hover);
  font-weight: var(--font-weight-bold);
  color: var(--black);
  text-decoration: none;
}

.navigation-list li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.navigation-list li:hover {
  color: var(--vivid-blue);
  text-decoration: underline;
  font-weight: var(--font-weight-bold);
}



/* Page Specific Styles - 
====================================== */

/* Home Page Styles */

/* Hero Section */

.line-break {
  display: flex;
  width: auto;
  height: 1px;
  background-color: var(--vivid-blue);
  margin: 10px 122px;
  
}

.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  width: 100%;
}

.intro-text {
  position: absolute;
  left: 11px;
  top: 237px;
  max-width: 500px;
  margin-left: 122px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;


}

.intro-text h1 {
  font-size: 3rem;
  font-weight: 700;
  color: var(--vivid-blue);
}

.intro-text h3 {
  font-size: 1.6rem;
  font-weight: 500;
  color: var(--black);
}

/* Cards Section */
.featured-content-cards-section {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 100px;
  height: 100%;
  padding: 0px 122px;

}

.featured-content-cards-headline {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

.featured-content-cards-headline h2 {
  font-size: 2rem;
  font-weight: 700;
  color: var(--vivid-blue);
}

.featured-content-cards-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  flex-wrap: wrap;


}

.featured-content-cards-container img {
  width: 100%;
  height: 100%;
  border-radius: 12px;
  object-fit: cover;
  object-position: center;
  margin: 0px 0px 20px 0px;
}

.content-card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 30px;
  width: 30%;
  border-radius: 12px;
  background: var(--white);
  color: var(--white);
  flex: 1;
  margin: 20px;
}

.card-image-container {
  margin-top: auto; 

}

.content-card:hover {
  color: var(--black);
}

#card-1 {
  background-color: var(--vivid-yellow);
}

#card-2 {
  background-color: var(--vivid-red);
}

#card-3 {
  background-color: var(--vivid-blue);
}

#card-1:hover, #card-2:hover, #card-3:hover {
  background-color: var(--extra-dark-grey);
}

.content-card img {
  width: 100%;
  height: 100%;
  border-radius: 12px;
  object-fit: cover;
  object-position: center;
}

.hashtags {
  display: flex;
  width: 106px;
  padding: 10px;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  font-size: var(--font-size-paragraph);
  border-radius: 25px;
  margin: 20px 0px 0px 20px;
  background-color: var(--white);
  color: var(--black);
  
}

#card-1:hover #hashtag-1 {
  background-color: var(--vivid-yellow);
  color: var(--white);
}

#card-2:hover #hashtag-2 {
  background-color: var(--vivid-red);
  color: var(--white);
}

#card-3:hover #hashtag-3 {
  background-color: var(--vivid-blue);
  color: var(--white);
}

.card-text {
  width: 100%;
  padding: 0px 20px;
}

.newsletter-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content:space-around;
  gap: 190px;
  width: 100%;
  height: auto;
  background-color: var(--extra-dark-grey);
  padding: 30px 122px;
}

.subscribe-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  width: 50%;
}

.subscriber-cta {
  display: flex;
  flex-direction: column;
  width: 50%;
  justify-content: flex-start;
  height: 125px;
  
}

.subscriber-cta input {
  padding: 0px 10px;
  background-color: #ffffff;
  border-radius: 15px;
  overflow: hidden;
  border: 3px solid;
  border-color: #086cc1;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  position: relative;
  flex: 1;
  align-self: stretch;
  width: 100%;
  flex-grow: 1;
  line-height: 3;
}

.subscriber-cta input::placeholder {
  color: #999;
  font-size: 1rem; 

}

.newsletter-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

.subscriber-cta button {
  display: flex;
  width: 100%;
  height: 80px;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  background: var(--vivid-blue);
  color: var(--white);
  font-size: var(--font-size-h2);
  margin-top: 10px;
  border-style: none;
  height: auto;
  font-size: var(--font-size-h2);
  padding: 10px 0px;

}

.contact-form-button {
  display: flex;
  width: 100%;
  height: 80px;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  background: var(--vivid-yellow);
  color: var(--black);
  font-size: var(--font-size-h2);
  margin-top: 10px;
  border-style: none;
  height: auto;
  font-size: var(--font-size-h2);
  padding: 10px 0px;


}

footer {
  top: -10px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  width: 100%;
  height: 300px;
  background-color: var(--vivid-blue);
  padding: 30px 122px;
  border-radius: 12px 12px 0px 0px;
}

.logo-and-periospot {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
  margin-top: 40px;
  color: var(--white);
}

.footer-links {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 10px;
  justify-content: space-between;
  margin-bottom: 50px;
}

/* Footer li styles, with main in h2 and sub in p size */

.footer-links li {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: var(--font-size-p);
  font-weight: var(--font-weight-regular);
  color: var(--white);
}

footer h3 {
  font-size: var(--font-size-h2);
  font-weight: 700;
  color: var(--soft-grey);
}

.footer-links a {
  color: var(--white);
  text-decoration: none;
}

.footer-links li:hover {
    font-size: var(--font-size-paragraph);
    text-decoration: underline;
    font-weight: var(--font-weight-extrabold);
}

/* Featured Content Section */

.cards-headline {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  height: auto;
  margin: 25px;
}

.three-cards-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  gap: 50px;
  width: 100%;
  height: auto;
  margin: 50px 0 100px 0;

}

.cards-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  height: auto;
  padding: 0px 122px;
}

.cards-logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.research {
  display: flex;
  background-image: url(../images/featured_content_images/Research_logo.png);
  background-size: auto;
  background-position: center;
  width: 180px;
  height: 180px;
  background-repeat: no-repeat;
  background-color: white;
  border-radius: 100px;
}

.technology {
  display: flex;
  background-image: url(../images/featured_content_images/Technology_logo.png);
  background-size: auto;
  background-position: center;
  width: 180px;
  height: 180px;
  background-repeat: no-repeat;
  background-color: white;
  border-radius: 100px;
}

.video {
  display: flex;
  background-image: url(../images/featured_content_images/Video_logo.png);
  background-size: auto;
  background-position: center;
  width: 180px;
  height: 180px;
  background-repeat: no-repeat;
  background-color: white;
  border-radius: 100px;
}

.card-title {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: auto;
}

.card {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: left;
  width: 100%;
  height: auto;
  border-radius: 12px;
}

.card-header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  height: auto;
  border-radius: 12px 0 0 12px;
  color: var(--white);
}

.card-items {
  display: flex;
  flex-direction: row;
  align-items: space-between;
  justify-content: space-between;
  width: 100%;
  height: auto;
  border-radius: 12px;
  
}

.card-item {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border: 1px solid var(--black);
  padding: 24px 24px;
  background-color: var(--card-featured-grey);
  align-items: center;
  gap: 15px;

}

#research-header {
  background-color: var(--vivid-yellow);
  border: none;
}

#ai-tech-header {
  background-color: var(--vivid-red);
  border: none;
}

#video-resources-header {
  background-color: var(--vivid-blue);
  border: none;
}

.card-number {
  font-size: var(--font-size-h2);
  font-weight: 700;
  color: var(--black);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  background: #B8B2B2;
}

.card-text-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 10px;
  width: 100%;
  height: auto;
  margin-top: 50px;
}

.card-item:hover .number-yellow {
  background-color: var(--vivid-yellow);
}

.card-item:hover .number-red {
  background-color: var(--vivid-red);
  color: var(--white);
}

.card-item:hover .number-blue {
  background-color: var(--vivid-blue);
  color: var(--white);
}

.card-item:hover {
  background-color: var(--white);
}

/*targeting the 4th card item to remove the border radius on the bottom and upper right corner */

.card-item:nth-child(4) {
  border-radius: 0px 12px 12px 0px;
}

/* About Page Styles */

.about-us-header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 10px;
  width: 100%;
  height: auto;
  padding: 0px 122px;
}

.profile-section {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: 20px;
  width: 100%;
  height: auto;

}

.profile-column {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 20px;
  width: 100%;
  height: auto;
  padding: 25px 50px;
  background-color: var(--card-featured-grey);
  margin: 50px 122px;
  border-radius: 12px;
}

.profile-header {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 57px;
  width: 100%;
  height: auto;
}

.profile-image {
  display: flex;
  width: 200px;
  height: 200px;
  border-radius: 100px;
  background-size: fill;
  background-position: center;

}

.social-media-icons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  gap: 15px;
  width: 100%;
  height: auto;
  flex-wrap: wrap;
}

.profile-image-and-social-media {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 30px;
  height: auto;
}

.profile-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 10px;
  width: 100%;
  height: auto;
}

.profile-name {
  font-size: var(--font-size-h3);
  color: var(--vivid-blue);
}

.profile-title {
  font-size: var(--font-size-h4);
  color: var(--black);
  font-weight: var(--font-weight-bold);
}

.contact-form-container {
  display: flex;
  flex-direction: row;
  align-items:center;
  justify-content: space-between;
  gap: 20px;
  height: auto;
  padding: 50px 122px;
  width: 100%;
  
}

.contact-form-inner-container {
  display: flex;
  flex-direction: row;
  align-items:flex-start;
  justify-content: space-between;
  gap: 80px;
  width: 100%;
  height: auto;
  background-color: var(--card-featured-grey);
  border-radius: 12px;
  padding: 50px 50px;
}

.contact-form-header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 10px;
  width: 100%;
  height: auto;

}

.contact-form,
.contact-form-textarea,
.contact-form-dropdown {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 20px;
  width: 100%;
  height: auto;
}

.input-text,
.contact-form-textarea,
.contact-form-dropdown
.contact-form select.input-text {
  padding: 0px 10px;
  background-color: #ffffff;
  border-radius: 15px;
  overflow: hidden;
  border: 3px solid;
  border-color: #086cc1;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  position: relative;
  flex: 1;
  align-self: stretch;
  width: 100%;
  flex-grow: 1;
  line-height: var(--font-size-h3);
  box-sizing: border-box;
}



.contact-form-dropdown {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: url('dropdown-arrow.png') no-repeat right #ffffff;
  background-position-x: 95%;
}

.contact-form-input {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  width: 100%;
  height: 40px;
}


/* Media queries for tablet responsiveness index.html. Cards section should be stacked vertically. Tablet screen 768px*/

@media only screen and (max-width: 768px) {

  .main-navigation {
    display: flex;
    width: auto;
    height: auto;
    padding: 22px 22px;
    flex-direction: row;
    align-items: flex-end;
    gap: 10px;
    margin-top: 55px;
    align-content: center;
    justify-content: flex-start;
  }

.intro-text {
    position: absolute;
    top: 237px;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    padding: 22px 20px;
    margin-left: 0px;
  }

  .line-break {
    display: flex;
    width: auto;
    height: 1px;
    background-color: var(--vivid-blue);
    margin: 10px 22px;
  }

  .featured-content-cards-section {
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 50px;
    height: 100%;
    padding: 22px 22px;
    align-items: center;
    justify-content: center;
    align-content: center;
    margin: 0px 0px 100px 0px;
}

  .content-card {
    margin: 10px;
  }

  .newsletter-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap: 40px;
    width: 100%;
    height: auto;
    background-color: var(--extra-dark-grey);
    padding: 30px 50px;
  }

  footer {
    padding: 22px 22px;
    font-size: var(--font-size-paragraph);
  }

  footer h2 {
    font-size: var(--font-size-h3);
  }

  footer h3 {
    font-size: var(--font-size-h4);
  }

  footer h4 {
    font-size: var(--font-size-h5);
  }

  footer h5 {
    font-size: var(--font-size-h6);
  }

  footer h6 {
    font-size: var(--font-size-paragraph);
  }

  .footer-links {
    display: flex;
    justify-content: space-evenly;
    padding: 0 20px;
  }

  .cards-headline {
    margin: 0;
  }

  .research {
    width: 150px;
    height: 150px;
  }

  .technology {
    width: 150px;
    height: 150px;
  }

  .video {
    width: 150px;
    height: 150px;
  }


  h2 {
    font-size: var(--font-size-h3);
  }

  .cards-content {
    padding: 0px 22px;
  }

  .about-us-header {
    padding: 0px 22px;
  }

  .profile-section {
    padding: 0px 22px;
  } 

  .profile-column {
    margin: 0;
  }

  .contact-form-container {
    padding: 0px 22px;
  }

  .contact-form-inner-container {
    padding: 22px 50px;
    gap: 10px;
    display: flex;
    align-items: center;
  }

  .contact-form-image {
    max-width: 100%;  
    height: auto;  
    object-fit: contain;
  }

  .contact-image {
    display: flex;
    width: 100%;
    height: auto;
    border-radius: 12px;
    object-fit: cover;
    object-position: center;
    margin: 0px 0px 20px 0px;
  }

  .contact-form-button {
    font-size: var(--font-size-h3);
  }

}


/* Media queries for mobile phone responsiveness index.html. Cards section should be stacked vertically. Mobile screen 375px*/

@media only screen and (max-width: 375px) {

  .main-navigation {
    display: flex;
    width: auto;
    height: auto;
    padding: 0px 20px;
    flex-direction: row;
    align-items: flex-end;
    gap: 10px;
    margin-top: 55px;
    align-content: center;
    justify-content: flex-start;
  }

.intro-text {
    position: absolute;
    top: 237px;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    padding: 10px 20px;
    margin-left: 0px;
  }


  .featured-content-cards-section {
    display: flex;
    flex-direction: column;
    gap: 50px;
    height: auto;
    padding: 0px 0px;
    align-items: center;
  }

  .featured-content-cards-headline {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }

  .featured-content-cards-headline h2 {
    font-size: 1.6rem;
    font-weight: 700;
    color: var(--vivid-blue);
  }

  .featured-content-cards-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    padding: 20px;
    align-content: space-around;

  }

  .featured-content-cards-container {
    margin: 0;
    padding: 0 20px;
  }

  .featured-content-cards-container img {
    margin: 0;
  }

  .content-card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 30px;
    width: 100%;
    border-radius: 12px;
    background: var(--white);
    color: var(--white);
    flex: 1;
    margin: 20px;
  }

  .content-card:hover {
    color: var(--black);
  }

  #card-1 {
    background-color: var(--vivid-yellow);
  }

  #card-2 {
    background-color: var(--vivid-red);
  }

  #card-3 {
    background-color: var(--vivid-blue);
  }

  #card-1:hover, #card-2:hover, #card-3:hover {
    background-color: var(--extra-dark-grey);
  }

.card-image-container {
  margin-top: auto;
  display: flex;
}
  

  .hashtags {
    display: flex;
    width: 106px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    font-size: var(--font-size-paragraph);
    border-radius: 25px;
    margin: 20px 0px 0px 20px;
    background-color: var(--white);
    color: var(--black);
  }

  .newsletter-section {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      gap: 50px;
      width: 100%;
      height: auto;
      background-color: var(--extra-dark-grey);
      padding: 30px 20px;
      align-content: center;
      flex-wrap: wrap;
  }

  .subscribe-text {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 10px;
      width: 100%;
  }

  .subscriber-cta {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: flex-start;
    height: 125px;
      
  }

  footer {
    top: -10px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 20px;
    width: 100%;
    height: auto;
    background-color: var(--vivid-blue);
    padding: 10px 20px;
    border-radius: 12px 12px 0px 0px;
    align-content: flex-start;
    align-items: flex-start;
  }

  .footer-links {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    justify-content: space-between;
    margin-bottom: 20px;
}
  }